.comment_modal{
    width: 1050px;
    height:  500px;
    position: fixed;
    background: #1C6EA4;
    left: 283px;
    right: 0;
    margin: 0 auto;
    top:  -100%;
    transition: all 0.3s;
    display: flex;
    padding-top: 1.8rem;
}
.active_modal{
    top: 130px;
}
.close{
    position: absolute;
    right: 0;
    top:   0;
    color: black;
    font-size: 22px;
    cursor: pointer;
}