.project_pge{
    width: 81%;
    height: 91.8vh;
    background: black;
    overflow-y: auto;
    padding: 0.3rem 0.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.close_modal{
    position: absolute;
    color: white;
    right: 15px;
    top: 5px;
    cursor: pointer;
    font-size: 22px;
}